<div ng-controller="chatController">
     <h2>Room: {{room}}</h2>
    <div class="msgBox container">
    <div class="well">
        <div ng-repeat = "msg in messages">
            <blockquote ng-if="msg.room == room">

            {{msg.sender}} : {{msg.text}}
            <small>
            	{{msg.time}}
            </small>
            </blockquote>
        </div>
        </div>
        <div>
        <div class="form-group input-group">
    <input type = "text" placeholder="Type the message..." ng-model= "messageInput">
    <button class="btn btn-primary" ng-click="sendMessage(messageInput)">Send</button>
    </div>
</div>