<style>
    #chat {
        width: 100vw;
        height: 100vh;
    }
    .jumbotron {
        display: none;
    }
    .top-bar {
        height: 50px;
        border-bottom: 1px solid #ccc;
        padding: 5px 15px;
    }
    .top-bar span{
        font-size: 20px;
        color: #222;
        margin-right: 15px;
    }
    .msgBox {
        max-width: 1000px;
        height: calc(100% - 100px);
        overflow: auto;
        position: relative;
    }
    .form-group {
        position: fixed;
        bottom: 0px;
    }
    #msgBox {
        position: relative;
    }
    .footer {
        height: 50px;
        padding: 5px 15px;
        overflow: hidden;
        border-top: 1px solid #ccc;
    }
    .footer input {
        height: 100%;
        border: none;
        width: calc(100% - 100px);
    }
    .footer .btn {
        height: 100%;
        width: 70px;
    }
</style>
<div id="chat" ng-controller="chatController">
    <div class="top-bar">
        Room: <span>{{room}}</span>
        User: <span>{{user}}</span>
        <button class="btn btn-primary pull-right" ng-click="disconnect()">
            Logout
        </button>
    </div>
    <div class="msgBox container" id="messageContainer">
        <div class="col-xs-12" id="messages">
            <div id="msg_{{$index}}" ng-repeat="msg in messages">
                <blockquote ng-if="msg.room == room">
                    {{msg.sender}} : {{msg.text}}
                    <small>
                        {{msg.time}}
                    </small>
                </blockquote>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <input ng-model="messageInput" placeholder="Type the message..." size="55" type="text"/>
            <button class="btn btn-primary" ng-click="sendMessage(messageInput)">
                Send
            </button>
        </div>
    </div>
</div>
